<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios" class="user-card">
      <ion-card-header>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Perfil" [src]="usuario.foto_usu" />
          </ion-thumbnail>          
          <ion-label>
            <h2>{{ usuario.nombre_usu }} {{ usuario.apellido_usu }}</h2>
            <p>RUT: {{ usuario.rut_usu }}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Correo:</strong> {{ usuario.correo_usu }}</p>
      </ion-card-content>
      <ion-row class="ion-justify-content-around">
        <ion-button (click)="eliminarUsuario(usuario)" color="danger" expand="block">Eliminar Usuario</ion-button>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
