<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>TECNO STORE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Ingresa Nueva Contraseña</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <!-- Campo de Nueva Contraseña -->
      <ion-item>
        <ion-input type="password" placeholder="Nueva contraseña" [(ngModel)]="nuevaContrasena"></ion-input>
      </ion-item>

      <!-- Campo de Validación de Contraseña -->
      <ion-item>
        <ion-input type="password" placeholder="Valide su contraseña" [(ngModel)]="validarContrasena"></ion-input>
      </ion-item>

      <!-- Botón para Cambiar Contraseña -->
      <ion-button expand="block" class="custom-button" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
