<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end"> 
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
    <img style="border-radius: 15px;" class="banner-image" alt="mousepromo" src="assets/icon/pcgamer.jpg"/>
    <ion-row>
      <!-- pc1 -->
      <ion-col size="6" *ngFor="let pc of productosP">
        <ion-card class="card-1">
          <ion-img src="/assets/icon/pc1.jpg"></ion-img>
          <ion-card-content>
            <h6>{{pc.nombre_prod}}</h6>
            <p><b>{{pc.stock_prod}}</b></p>
            <p class="precio"><b>{{pc.precio_prod}}</b></p> <!-- Clase precio añadida aquí -->
            <ion-button expand="block" color="primary" (click)="irproductoSolo(pc)">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>