<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  <img style="border-radius: 15px;" class="banner-image" alt="sillas" src="assets/icon/sillagamer.jpg"/>
  <ion-grid>
    <ion-row>
      <!-- Silla Dinámica -->
      <ion-col size="6" *ngFor="let silla of productosS">
        <ion-card class="card-1">
          <!-- Imagen dinámica de la silla -->
          <ion-img [src]="silla.foto_prod"></ion-img>
          <ion-card-content>
            <h6>{{silla.nombre_prod}}</h6>
            <p class="stock">Stock: {{silla.stock_prod}}</p>
            <p class="precio">$ {{silla.precio_prod}}</p>
            <ion-button expand="block" color="primary" (click)="irsillaSolo(silla)">Ver Producto</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
