<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Agregar PC Armado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="agregarPC()">
    <ion-card class="form-card">
      <ion-card-content>
        
        <!-- Campos de entrada -->
        <ion-item class="input-item">
          <ion-label position="floating">Nombre del PC</ion-label>
          <ion-input [(ngModel)]="pc.nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Precio</ion-label>
          <ion-input [(ngModel)]="pc.precio" type="number" name="precio" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Stock</ion-label>
          <ion-input [(ngModel)]="pc.stock" type="number" name="stock" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="pc.descripcion" name="descripcion" required></ion-textarea>
        </ion-item>

        <!-- Botones para capturar o seleccionar imagen -->
        <div class="button-group">
          <ion-button class="custom-button" (click)="capturarFoto()">Capturar Foto</ion-button>
          <ion-button class="custom-button secondary" (click)="seleccionarImagen()">Seleccionar Imagen</ion-button>
        </div>

        <!-- Vista previa de la imagen capturada o seleccionada -->
        <ion-card *ngIf="imagenVistaPrevia" class="imagen-preview-card">
          <ion-img [src]="imagenVistaPrevia" alt="Vista previa de la imagen"></ion-img>
        </ion-card>

        <!-- Botón para agregar PC -->
        <div class="button-group">
          <ion-button type="submit" class="custom-button submit-button">Agregar PC</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
