/* Fondo del ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

/* Estilo para la tarjeta de producto */
.product-card {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 12px; /* Bordes redondeados */
  margin: 20px; /* Margen para separar la tarjeta */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Contenedor para la imagen del producto */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Imagen del producto: tamaño ajustado */
.product-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 300px; /* Limita el tamaño máximo */
  height: auto; /* Mantén la proporción */
  border-radius: 8px; /* Redondear bordes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}

/* Estilo para el stock */
.product-stock {
  font-size: 16px; /* Tamaño de texto para el stock */
  color: #555555; /* Color gris para el texto del stock */
  margin-bottom: 5px; /* Separación con el precio */
}

/* Estilo para el precio */
.product-price {
  font-size: 18px; /* Tamaño de texto más grande para el precio */
  font-weight: bold; /* Negrita para destacar el precio */
  color: #000000; /* Color negro para el precio */
  margin-bottom: 15px; /* Separación con el resto del contenido */
}

/* Estilo general para los botones personalizados */
.custom-button {
  --background: #5fbded; /* Color celeste */
  --color: #ffffff; /* Texto blanco */
  --border-radius: 4px; /* Diseño rectangular */
  padding: 12px 20px; /* Ajusta el tamaño del botón */
  margin: 10px 0; /* Añade separación entre botones */
}

.custom-button:focus, .custom-button:hover {
  --background: #3d8fb5; /* Color celeste más oscuro en hover o focus */
}

/* Centrar el botón dentro de la columna */
.center-button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74; /* Fondo azul oscuro */
  color: #ffffff; /* Color del texto */
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74; /* Fondo azul oscuro */
  --color: #ffffff; /* Texto blanco */
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff; /* Íconos blancos */
}
