<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/carrito']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Tarjeta de producto -->
  <ion-card *ngIf="productoSolo" class="product-card">
    <ion-card-header>
      <ion-card-title class="product-title">{{ productoSolo.nombre_prod }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="image-container">
        <img [src]="productoSolo.foto_prod" alt="Foto del producto" class="product-image" />
      </div>
      <p class="product-stock">Stock: {{ productoSolo.stock_prod }}</p>
      <p class="product-price">Precio: {{ productoSolo.precio_prod }}</p>
      <p>{{ productoSolo.descripcion_prod }}</p>
      
      <div class="center-button-container">
        <ion-button expand="block" fill="solid" (click)="agregarAlCarrito()" *ngIf="productoSolo.stock_prod >= 1">
          <ion-icon slot="start" name="cart"></ion-icon>
          Añadir al carrito
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Mensaje si no se encuentra el producto -->
  <ion-item *ngIf="!productoSolo">
    <ion-label>No se encontraron detalles del producto.</ion-label>
  </ion-item>
</ion-content>
