/* Estilo para el botón "Agregar" con color #5fbded */
ion-button.custom-agregar-btn {
  --background: #5fbded !important;
  --color: #ffffff !important;
}

/* Estilo para el botón "Modificar" */
ion-button.modificar-btn {
  --background: #5fbded !important;
  --color: #ffffff !important;
}

/* Estilo para el botón "Eliminar" */
ion-button[color="danger"] {
  --background: #e03e3e !important;
  --color: #ffffff !important;
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74;
  color: #ffffff;
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74;
  --color: #ffffff;
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff;
}

/* Fondo personalizado de la página */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

/* Sin fondo para el contenido */
.no-background {
  --ion-background-color: transparent;
}

/* Centrado y márgenes de botones */
.center-buttons {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.button-margin {
  margin: 16px;
}

/* Estilo para las tarjetas de productos */
.product-card {
  background-color: white !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 16px;
  padding: 16px;
}

/* Grupo de botones en las tarjetas */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Tamaño reducido para los botones en las tarjetas */
.button-group ion-button {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  font-size: 14px;
}
