<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Agregar Audífono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="agregarAudifono()">
    <ion-card>
      <ion-card-content>
        
        <ion-item class="input-item">
          <ion-label position="floating">Nombre del Audífono</ion-label>
          <ion-input [(ngModel)]="audifono.nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Precio</ion-label>
          <ion-input [(ngModel)]="audifono.precio" type="number" name="precio" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Stock</ion-label>
          <ion-input [(ngModel)]="audifono.stock" type="number" name="stock" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="audifono.descripcion" name="descripcion" required></ion-textarea>
        </ion-item>

        <div class="button-group">
          <ion-button expand="block" color="secondary" (click)="capturarFoto()">Capturar Foto</ion-button>
          <ion-button expand="block" color="tertiary" (click)="seleccionarImagen()">Seleccionar Imagen</ion-button>
        </div>

        <!-- Vista previa de la imagen capturada o seleccionada -->
        <ion-card *ngIf="imagenVistaPrevia" class="imagen-preview-card">
          <ion-img [src]="imagenVistaPrevia" alt="Vista previa de la imagen"></ion-img>
        </ion-card>

        <ion-button type="submit" expand="block" color="primary" class="submit-button">Agregar Audífono</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
