ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro traslúcido */
}

.retiro-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.8); /* Fondo traslúcido */
  padding: 10px;
  color: #000; /* Todas las letras en negro */
  display: flex;
  flex-direction: column;
}

ion-card-subtitle, .retiro-card p, ion-label h2, ion-label p {
  color: #000; /* Texto en negro */
  font-size: 0.85em; /* Tamaño de fuente ligeramente reducido */
}

.estado-retiro {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: green; /* Mantener "Listo para retirar" en verde */
}

.estado-retiro ion-icon {
  margin-right: 5px;
  font-size: 1.1em;
}

/* Ajuste del título para que sea más pequeño */
ion-label h2 {
  font-size: 0.9em; /* Reducir tamaño de fuente para el nombre del producto */
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.2em;
  margin: 5px 0;
  text-align: left;
}

/* Aumentar el tamaño del contenedor de la imagen */
ion-thumbnail {
  width: 130px; /* Tamaño mayor para el contenedor */
  height: 130px;
  flex-shrink: 0; /* Evitar que el contenedor de imagen se reduzca */
  margin-right: 10px;
}

/* Aumentar el tamaño de la imagen dentro del contenedor */
ion-thumbnail img {
  border-radius: 5px;
  width: 100%; /* Ajuste para que ocupe todo el contenedor */
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor sin deformarse */
  border: 2px solid #ccc;
  padding: 3px;
}

ion-item {
  align-items: flex-start; /* Alineación superior para evitar deformación de la tarjeta */
}
