<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-center">TECNO STORE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Recuperar Cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label class="ion-text-center label-negro">
          Ingrese su correo para proceder con la recuperación de su contraseña
        </ion-label>

        <!-- Campo de correo y botón de verificación -->
        <ion-item *ngIf="!mostrarPregunta">
          <ion-input placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
        </ion-item>

        <ion-button expand="block" class="custom-button" *ngIf="!mostrarPregunta" (click)="verificarCorreo()">
          Verificar Correo
        </ion-button>

        <!-- Si el correo está verificado, mostrar la selección de pregunta de seguridad -->
        <div *ngIf="mostrarPregunta && !respuestaSeleccionada">
          <ion-label>Seleccione una pregunta de seguridad</ion-label>
          <ion-select [(ngModel)]="preguntaSeguridad" (ionChange)="seleccionarPregunta()" placeholder="Seleccione una pregunta">
            <ion-select-option *ngFor="let pregunta of preguntasPredefinidas" [value]="pregunta">
              {{ pregunta }}
            </ion-select-option>
          </ion-select>
        </div>

        <!-- Campo para respuesta de seguridad -->
        <div *ngIf="mostrarPregunta && respuestaSeleccionada" class="pregunta-seguridad">
          <ion-label>{{ preguntaSeguridad }}</ion-label>
          <ion-item>
            <ion-input placeholder="Respuesta" [(ngModel)]="respuesta"></ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" class="custom-button" *ngIf="mostrarPregunta && respuestaSeleccionada" (click)="verificarRespuesta()">
          Verificar Respuesta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
