/* Fondo del ion-content */
ion-content {
  --background: url('/assets/icon/home.jpg') no-repeat center center / cover;
}

.banner-image {
  margin-left: 38px;
  width: 80%;
  height: auto;
}

/* Colores de fondo para cada tarjeta */
.card-fixed-size, .card-1 {
  --background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* Estilo para el stock */
.card-fixed-size ion-card-content p,
.card-1 ion-card-content p {
  font-size: 12px !important; /* Tamaño más pequeño */
  color: #555555; /* Color gris para menor énfasis */
  margin: 0.2rem 0;
}

/* Estilo para el precio */
.card-fixed-size ion-card-content .precio,
.card-1 ion-card-content .precio {
  color: #000000;
  font-weight: normal; /* Peso de fuente normal */
  font-size: 18px !important; /* Tamaño de fuente ajustado */
  margin-top: 8px; /* Espacio superior para separar del stock */
}

/* Estilos adicionales para mejorar la apariencia de las tarjetas */
ion-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

ion-img {
  width: 100%;
  height: auto;
  max-height: 150px;
}

ion-card-content h6 {
  font-size: 0.9rem;
  margin: 0;
  color: #000000;
}

/* Estilo para el encabezado */
ion-header {
  --background: #004d74;
  color: #ffffff;
}

/* Estilo para los botones del encabezado */
ion-button {
  --background: #004d74;
  --color: #ffffff;
}

/* Estilo para los íconos dentro de los botones */
ion-icon {
  color: #ffffff;
}

/* Asegurarse de que todas las tarjetas tengan el mismo tamaño */
ion-grid, ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  display: flex;
  align-items: stretch;
}

/* Tarjetas de Intel y AMD */
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 150px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #004d74;
}

.card p {
  font-size: 0.9em;
  color: #555;
}

/* Título de secciones destacadas */
.featured-title {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  font-size: 1.6rem;
}
