<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <ion-button fill="clear" [routerLink]="['/home']">
        TECNO STORE
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/perfil'">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/carrito'">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="arregloVenta && arregloVenta.length > 0; else noPedidos">
    <ion-card *ngFor="let retir of arregloVenta" class="retiro-card">
      <ion-card-header>
        <p>Usuario: {{ retir.nombre_usuario }}</p>
        <p>Fecha: {{ retir.f_venta | date: 'mediumDate' }}</p>
        <p [ngStyle]="{ color: retir.estado_retiro === 0 ? 'green' : 'red', 'font-weight': 'bold' }">
          {{ retir.estado_retiro === 0 ? 'Listo para retirar' : 'Producto retirado' }}
        </p>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="product-item">
          <ion-thumbnail slot="start">
            <img [src]="retir.foto_prod" alt="Imagen del producto" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="product-title">{{ retir.nombre_prod }}</h2>
            <p class="product-detail">Precio: {{ retir.precio_prod | currency }}</p>
            <p class="product-detail">Cantidad: {{ retir.cantidad_d }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noPedidos>
    <ion-card class="reseña-card">
      <ion-card-content class="no-resenas-content">
        <p>No has realizado ningún pedido aún.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
